In [1]:
import time
import pandas as pd
import numpy as np
import re
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import selenium
from selenium.webdriver.support.ui import WebDriverWait

In [2]:
#statsOffighters=pd.read_csv("stats.csv")

In [3]:
#columns = ["name","division","rank","str.ac","grap.ac","sig.str.land","sig.str.att","take.land","take.att",
#           "sig.str.land.min","sig.str.abs.min","take.avg.15min","sub.avg.15min","sig.str.def",
 #         "take.def","knock.ratio","avg.time","sig.str.head","sig.str.head.percent","sig.str.body",
  #        "sig.str.body.percent","sig.str.leg","sig.str.leg.percent",
   #       "sig.str.position.stand","sig.str.position.clinch","sig.str.position.ground",
    #      "sig.str.position.stand.percent","sig.str.position.clinch.percent","sig.str.position.ground.percent",
     #      "win.ko","win.sub","win.dec","win.ko.percent","win.sub.percent","win.dec.percent",
      #    "wins","losses","age","leg.reach","reach","height"]
#temp = pd.DataFrame(columns =columns,index =range(len(statsOffighters)))
#statsOffighters=statsOffighters.sort_values(by=["division"])
#statsOffighters=statsOffighters.reset_index()
#statsOffighters.drop('index',inplace=True, axis=1)

In [20]:
#for i in statsOffighters[statsOffighters["division"].str.contains("[a-z]*champion")].index:
#    k=statsOffighters.loc[statsOffighters.index[i],"division"] 
#    k =re.sub("champion","",k)
#    statsOffighters.loc[i,"division"] = k

In [21]:
#for i in statsOffighters[statsOffighters["division"].str.contains("[a-z]*division")].index:
#    k=statsOffighters.loc[statsOffighters.index[i],"division"] 
#    k =re.sub("division","",k)
#    statsOffighters.loc[i,"division"] = k

In [22]:
#for i in range(len(statsOffighters)):
#    for j in range(len(statsOffighters)):
#        if statsOffighters.loc[i,"opponent"] == statsOffighters.loc[j,"name"] and statsOffighters.loc[i,"division"] == statsOffighters.loc[j,"division"]:
#            temp.iloc[i,]=statsOffighters.iloc[j,0:41]
#            break

In [23]:
#together=pd.concat([statsOffighters,temp],axis = 1)
#together.to_csv("merge_data.csv")

In [13]:
together = pd.read_csv("merge_data.csv")

In [14]:
k = together["name.1"].isna()

In [15]:
listofNa = []
for i in range(len(k)):
    if str(k[i]) == "True":
        listofNa.append(i)

In [42]:
listo =[]
for i in listofNa:
    listo.append(together.loc[i])

In [43]:
missing=pd.DataFrame(listo)

In [44]:
missing=missing[(missing["outcome"] != "upcoming")]

In [46]:
missing[["name","division","opponent"]]

           name           division opponent
1      sterling       bantamweight   mendes
2      sterling       bantamweight    barao
12     sterling       bantamweight    viana
13     sterling       bantamweight   gibson
17       kenney       bantamweight     wood
...         ...                ...      ...
7671  namajunas  womensstrawweight  andrade
7672  namajunas  womensstrawweight  andrade
7673  namajunas  womensstrawweight    weili
7676     yufrey  womensstrawweight       de
7679    esparza  womensstrawweight     lima

[4298 rows x 3 columns]